.parent {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Each card will have a min-width of 300px and grow to fill the space */
  gap: 2rem;
  margin: 0 1.5rem;
  margin-top: 70px !important;
}
